* {
    font-family: var(--pico-font-family-sans-serif);
    scroll-behavior: smooth;
}

body {
    padding-inline: var(--pico-spacing);
}

/* Start navigation */

nav p {
    margin: 0;
    font-size: 1.5em;
}

nav {
    align-items: center;
}

.burger-links {
    position: fixed;
    right: -450px;
    top: 0;
    background-color: var(--pico-background-color);
    height: 100vh;
    width: 50%;
    transition: 0.3s ease-in-out;
    min-width: 260px;
}

.burger-links.active {
    right: 0;
}

.burger-links ul {
    display: flex;
    flex-direction: column;
}

.burger-menu {
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 10;
}

.burger-menu span {
    width: 100%;
    height: 5px;
    background-color: var(--pico-primary-background);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.3s ease-in-out;
}

.burger-menu span:nth-child(1) {
    top: 25%;
}

.burger-menu span:nth-child(3) {
    top: 75%;
}

.burger-menu.active span:nth-child(1) {
    top: 25%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.burger-menu.active span:nth-child(2) {
    opacity: 0;
}

.burger-menu.active span:nth-child(3) {
    top: 25%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media (min-width: 768px) {
    .burger-menu {
        display: none;
    }
    .burger-links {
        display: none;
    }
}

@media (max-width: 768px) {
    .navigation-links {
        display: none;
    }
}

/* End navigation */

.main-full {
    height: calc(100svh - 5.1625em);
    background: url(../img/wallpaper.jpg);
    background-position: center;
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    margin-inline: calc(-1 * var(--pico-spacing));
    margin-bottom: 2em;
}

.main-button {
    display: inline-block !important;
    width: 100%;
}

.Skills-h2 {
    margin: 2em 0 1em;
    text-align: center;
}

article {
    text-align: center;
    max-width: 16em;
    transition: 0.4s ease-in-out;
}

article:hover {
    transform: scale(1.1);
}

.icon {
    font-size: 5em;
}

.expressjs-icon {
    font-size: 10em;
}

/* @media (max-width: 730px) {
    .content {
        flex-direction: column;
        align-items: center;
    }
} */

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-content: center;
    justify-items: center;
    align-items: stretch;
    gap: 1em;
}

section {
    margin-block: 6em;
}

.about {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about-info {
    width: 50ch;
}

.photo {
    flex: 2 0 50%;
    max-width: 300px;
    height: auto;
    position: relative;
}

.photo::before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -1.875em;
    left: -1.875em;
    z-index: -1;
    border: 1px var(--pico-h2-color) solid;
}

@media (width <= 1023px) {
    .photo {
        margin-bottom: 4em;
    }

    .photo::before {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: scale(1.1);
        z-index: -1;
        border: 1px var(--pico-h2-color) solid;
    }

    .about-info {
        text-align: center;
    }
}

/* Start Projects Section */



.projects article {
    display: flex;
    flex-direction: column;
}

.projects p {
    text-align: center;
    font-size: larger;
    margin-bottom: 2rem;
}

.projects p span {
    font-weight: 900;
}

.projects .image-wrapper {
    margin-block: 0.5em;
    border-radius: 0.2em;
    overflow: hidden;
}

.projects .link-wrapper {
    text-align: right;
    margin-top: auto;
}

.projects article h3 {
    min-height: 3.5em; /* This gives enough room for 2 lines of text */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5em; /* Keeps the spacing before the image consistent */
}

/* End Projects Section */

/* Start Contactme Section */

.contactme .content {
    align-items: start;
}

.contactme article {
    display: flex;
    gap: 10px;
    width: auto;
    max-width: none;
    width: 350px;
    max-width: 100%;
    flex-wrap: wrap;
}

.contactme .content {
    display: flex;
    flex-direction: column;
}

.contactme .content h3 {
    margin: 0;
}

.contactme .content a {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .contactme .content {
        flex-direction: column;
        align-items: center;
    }
}
/* End Contactme Section */

/* Start footer */

footer {
    padding-block: var(--pico-block-spacing-vertical);
    border-top: 1px solid white;
}

footer .contact-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--pico-spacing);
}

footer h3 {
    margin: 0;
}
/* End footer */
